In [1]:
import os
import pandas as pd
import math
import random
import pickle

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
def makedir(path):
    if not os.path.exists(path):
        os.makedirs(path)

In [4]:
savedir = 'data_processed'
makedir(savedir)

## Get date of collection

In [6]:
doc_path = os.path.join(savedir, 'doc_2023.pkl')
f = open(doc_path,'rb')
doc_2023 = pickle.load(f)
f.close()

## Get GT data

In [8]:
data_list = []
columns = ['year', 'location', 'irrigationProvided', 'experiment', 'range', 'row', 'N_level', 'genotype', 'planting_date', 'yield']

### 2023 Train data

In [16]:
df_train_2023 = pd.read_csv('GT/train_HIPS_HYBRIDS_2023_V2.3.csv')
print(df_train_2023['plotLength'].value_counts())
df_train_2023 = df_train_2023.drop(columns = ['qrCode','poundsOfNitrogenPerAcre','plotLength', 'block','plotNumber','totalStandCount', 'daysToAnthesis', 'GDDToAnthesis'])
df_train_2023 = df_train_2023.dropna()

plotLength
17.5    643
Name: count, dtype: int64

In [18]:
df_train_2023.head()

,location,irrigationProvided,nitrogenTreatment,experiment,row,range,genotype,plantingDate,yieldPerAcre
0,Lincoln,0,Low,75,2,14,PHB47 X PHK56,5/16/23,117.56
1,Lincoln,0,Low,75,3,14,PHW52 X PHN82,5/16/23,93.28
2,Lincoln,0,Low,75,5,14,2369 X PHZ51,5/16/23,79.08
3,Lincoln,0,Low,75,6,14,PHT69 X 3IIH6,5/16/23,99.91
4,Lincoln,0,Low,75,7,14,LH195 X 3IIH6,5/16/23,130.59

In [20]:
for index, row in df_train_2023.iterrows():
    new_row = []
    new_row.append('2023')
    new_row.append(row['location'])
    new_row.append(row['irrigationProvided'])
    new_row.append(row['experiment'])
    new_row.append(row['range'])
    new_row.append(row['row'])
    new_row.append(row['nitrogenTreatment'])
    new_row.append(row['genotype'])
    new_row.append(row['plantingDate'])
    new_row.append(row['yieldPerAcre'])
    data_list.append(new_row)

In [22]:
total_count = len(data_list)

random.shuffle(data_list)

num_train = int(0.8*total_count)
train_list = data_list[:num_train]
val_list = data_list[num_train:]
print(len(train_list), len(val_list))

data_split_dict = {'columns': columns,'train': train_list, 'val': val_list}

f = open(os.path.join(savedir,'2023_data_split.pkl'), 'wb')
pickle.dump(data_split_dict,f)
f.close()

514 129

In [24]:
f = open(os.path.join(savedir,'train_split_from_2023.csv'),'w')
f.write(','.join(columns)+'\n')
for line in data_split_dict['train']:
    f.write(','.join([str(l) for l in line])+'\n')
f.close()

In [26]:
f = open(os.path.join(savedir,'val_split_from_2023.csv'),'w')
f.write(','.join(columns)+'\n')
for line in data_split_dict['val']:
    f.write(','.join([str(l) for l in line])+'\n')
f.close()